#btnContainer{
    width: 700px;
    margin: 0 auto;
    display: grid;
    align-content: center;
}
.status {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
li{
  display: inline;
}

img {
  max-width: 100%;
  max-height: 100%;
}
