@import './../../Styles/variables.scss';

$textOrientDesktop: 'col2 col1';
$textOrientMobile: 'col1' 'col2';

//value of pic color #3038C5

.section{
    color: $light;
    background: $dark;
    
    &__wrapper{
        display: grid;
        grid-auto-columns: minmax(auto, 1fr);
        grid-template-areas: $textOrientMobile;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 2000px;
      

        @include breakpoint(md) {
            height: 900px;
            padding: 170px 120px;
            grid-template-areas: $textOrientDesktop;
        }

        &__column1{
            grid-area: col1;
        
            &__textWrapper{
                padding-top: 0;
                
                h1{
                    text-align: center;
                    padding-top: 50px;
                    padding-bottom: 40px;
                    font-size: 2.5rem;
                    @include breakpoint(md) {
                        text-align: left;
                        padding-bottom: 60px;
                        font-size: 5rem;
                    }
                }
                &__spanWrapper{
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    @include breakpoint(md) {
                        justify-content: left;
                        text-align: left;
                    }
                    span{
                        font-size: 0.7rem;
                        text-transform: uppercase;
                        padding: 0 1.5rem;
                        &.first{
                            border-right: 2px solid $light;
                        }
                        &.last{
                            border-left: 2px solid $light;
                        }
                        @include breakpoint(md) {
                            font-size: 1rem;
                            letter-spacing: 1.4px;
                            text-transform: uppercase;
                            padding: 0 3rem;
                            &.first{
                                padding: 0 3rem 0 0;
                                border-right: 3px solid $light;
                            }
                            &.last{
                                border-left: 3px solid $light;
                            }
                        }
                    }
                }
                
                p{
                    font-size: 1.3rem;
                    margin: 50px 40px;
                    @include breakpoint(md) {
                        font-size: 1.3rem;
                        margin: 0 0;
                        padding-top: 100px;
                    }
                }
            }
            &__imgWrapper{
                
                padding-bottom: 50px;
                @include breakpoint(md) {
                    padding-top: 30px;
                }
                img{
                    display: block;
                    margin: 0 auto;
                    min-width: 100px;
                    max-width: 25%;
                    
                    @include breakpoint(md) {
                        float: right;

                    }
                }
            }
        }
        &__column2{
            grid-area: col2;
            &__imgWrapper{

                img{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    min-width: 100px;
                    max-width: 50%;
                    
                    @include breakpoint(md) {
                        min-width: 150px;
                        max-width: 100%;
                    }
                    
                }
                
            }
        }

    }
}